<h1>Lucky Draw Registration</h1>

<form [formGroup]="regForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
      Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && regForm.controls.name.errors" class="error">
        <div *ngIf="regForm.controls.name.errors.required">Your name is required</div>
      </div>
    </label>
  
    <label>
      Email:
      <textarea formControlName="email"></textarea>
      <div *ngIf="submitted && regForm.controls.email.errors" class="error">
        <div *ngIf="regForm.controls.email.errors.required">Your email is required</div>
      </div>
    </label>

    <input type="submit" value="Register" class="cta" [disabled]="regForm.pristine || regForm.invalid">
  
  </form>

  <div *ngIf="submitted" class="results">
    <strong>Name:</strong> 
    <span>{{ regForm.controls.name.value }}</span>

    <strong>Email:</strong> 
    <span>{{ regForm.controls.email.value }}</span>
  </div>
